# Dependencies
node_modules/

# Build output
dist/

# Android build
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/.idea/
android/local.properties

# Capacitor
.capacitor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
